body { text-align: center;
    color:#fff;
    background-color:black;}
canvas { background-color: #222;
         margin: 20px auto;
         border: 2px solid #fff;     }
#snaki{
    color: rgb(255, 0, 60); 
    font-family: serif;
}
.timer-container {
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}